In [1]:
import pandas as pd

train = pd.read_csv('../data/tasks/codebert_concat/data/Question1_train.csv',lineterminator='\n')
test = pd.read_csv('../data/tasks/codebert_concat/data/Question1_test.csv',lineterminator='\n')
valid = pd.read_csv('../data/tasks/codebert_concat/data/Question1_valid.csv',lineterminator='\n')

In [4]:
# count rows
train_index, test_index, valid_index = train.index, test.index, valid.index
print("train length %d, test length %d, valid length %d" % (len(train_index), len(test_index), len(valid_index)))

train length 171345, test length 36717, valid length 36716

In [5]:
train.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,qid,title,desc_text,desc_code,creation_date,clean_tags,natural_lang
0,0,101920,101920,653963,SOAP Request Timeout in Console App (.NET),I have a SOAP web service added to a console a...,NaN,2009-03-17T12:13:02.987,['.net'],SOAP Request Timeout in Console App (.NET). I ...
1,1,166030,166030,965456,Layered window still receiving WM_PAINT messag...,I've got a few layered windows in my app that ...,NaN,2009-06-08T15:27:00.327,"['windows', 'user-interface']",Layered window still receiving WM_PAINT messag...
2,2,240355,240355,1303574,How do I create folders and add/update Javascr...,How do I create folders and add/update Javascr...,NaN,2009-08-20T01:59:57.780,"['javascript-framework', 'directory']",How do I create folders and add/update Javascr...
3,3,160973,160973,941034,Is it possible to use GROUP BY with bind varia...,I want to issue a query like the following whe...,"select max(col1), f(:1, col2) from t group by ...",2009-06-02T18:06:20.037,"['prepared-statement', 'java', 'oracle', 'jdbc...",Is it possible to use GROUP BY with bind varia...
4,4,171401,171401,990816,How do I release/sell/promote a semi-commercia...,I've got a framework for PHP that I've develop...,NaN,2009-06-13T14:58:07.180,"['language-agnostic', 'open-source']",How do I release/sell/promote a semi-commercia...

In [6]:
# count the number of nan 

print((train['desc_code'].isna()).sum())
print((test['desc_code'].isna()).sum())
print((valid['desc_code'].isna()).sum())

104187
22488
22433

In [7]:
# get the max length of title, descp, code, nl
import numpy as np
measurer = np.vectorize(len)

In [9]:
res1 = measurer(train['title'].values.astype(str)).max(axis=0)
res1 = measurer(train['title'].values.astype(str)).max(axis=0)

res1 = measurer(train['title'].values.astype(str)).max(axis=0)

150

In [10]:

res1 = measurer(train['natural_lang'].values.astype(str)).max(axis=0)

In [11]:
print(res1)

19039