In [2]:
import pandas as pd

In [5]:
train = pd.read_csv("../data/tagdc_csv/Posts.csv",encoding = "ISO-8859-1")

In [6]:
train.head(
)

,Id,CreationDate,Title,Body,Code,Tags
0,14,2008-08-01T00:59:11.177,Difference between Math.Floor() and Math.Trunc...,What is the difference between Math.Floor() an...,NaN,['.net']
1,11,2008-07-31T23:55:37.967,How can relative time be calculated in C#?,"Given a specific DateTime value, how do I disp...",NaN,"['c#', 'datetime', 'datediff', 'relative-time-..."
2,13,2008-08-01T00:42:38.903,Determine a User's Timezone,Is there any standard way for a Web Server to ...,NaN,"['html', 'browser', 'timezone', 'timezoneoffset']"
3,9,2008-07-31T23:40:59.743,How do I calculate someone's age in C#?,Given a DateTime representing a person's birth...,NaN,['.net']
4,16,2008-08-01T04:59:33.643,Filling a DataSet or DataTable from a LINQ que...,How do you expose a LINQ query as an ASMX web ...,public static MyDataTable CallMySproc() { stri...,['.net-3.5']

In [8]:
train.loc[[50000]]

,Id,CreationDate,Title,Body,Code,Tags
50000,350603,2008-12-08T19:38:50.450,SVN/Tortoise - Label generation,"In Clearcase I can generate a ""label"" for a gi...",NaN,"['svn', 'change-management']"

In [11]:
sorted = train.sort_values(by='CreationDate') #

In [15]:
sorted.loc[[11203032]]

,Id,CreationDate,Title,Body,Code,Tags
11203032,36542023,2016-04-11T07:08:29.287,Get the state of the hdfs namenode using java,I am creating a java application that will rea...,org.apache.hadoop.ipc.RemoteException(org.apac...,"['java', 'hadoop', 'hdfs']"

In [14]:
sorted.head()

,Id,CreationDate,Title,Body,Code,Tags
5,4,2008-07-31T21:42:52.667,When setting a form's opacity should I use a d...,I want to use a track-bar to change a form's o...,decimal trans = trackBar1.Value / 5000; this.O...,"['c#', 'winforms', 'type-conversion', 'decimal..."
6,6,2008-07-31T22:08:08.620,Percentage width child element in absolutely p...,I have an absolutely positioned div containing...,NaN,"['html', 'css', 'css3', 'internet-explorer-7']"
3,9,2008-07-31T23:40:59.743,How do I calculate someone's age in C#?,Given a DateTime representing a person's birth...,NaN,['.net']
1,11,2008-07-31T23:55:37.967,How can relative time be calculated in C#?,"Given a specific DateTime value, how do I disp...",NaN,"['c#', 'datetime', 'datediff', 'relative-time-..."
2,13,2008-08-01T00:42:38.903,Determine a User's Timezone,Is there any standard way for a Web Server to ...,NaN,"['html', 'browser', 'timezone', 'timezoneoffset']"

In [16]:
final = sorted[(sorted['CreationDate']< '2014-07-01')]

In [17]:
final.tail()

,Id,CreationDate,Title,Body,Code,Tags
7199273,24500648,2014-06-30T23:59:18.737,Limit method parameter value,"I'm building a library, and some of my methods...",public static void pressMouse(int button){ try...,"['java', 'methods', 'parameters']"
7199275,24500649,2014-06-30T23:59:19.937,How to get All Text in robot framework ?,"Consider the following source code, How do i r...","<div id=""groupContainer"" class=""XXXXXX""> <ul i...","['selenium', 'selenium-webdriver', 'robotframe..."
7199285,24500650,2014-06-30T23:59:26.080,Cannot connect to remote mongo database on Lin...,"I know there are very similar questions, but I...",mongo --host xxx.xxx.xxx.xxx --verbose MongoDB...,"['linux', 'mongodb']"
7199270,24500651,2014-06-30T23:59:27.233,How to get current Buddypress page name?,I am trying to dynamically display the name of...,NaN,"['php', 'wordpress', 'buddypress']"
7199281,24500653,2014-06-30T23:59:52.843,update matched records from another collection?,Can someone please help me update a collection...,"{ ""_id"": { ""$oid"": ""53a46be700b94521574b6f75"" ...","['javascript', 'arrays', 'mongodb', 'aggregati..."

In [18]:
sorted.loc[[7199282]]

,Id,CreationDate,Title,Body,Code,Tags
7199282,24500665,2014-07-01T00:02:02.217,Getting a mysql thread id from sqlalchemy Session,I'm used to creating connections using MySQLdb...,NaN,"['python', 'mysql', 'sqlalchemy', 'mysql-python']"